extends layouts/_layout.pug

block title
	title Tagpro TPM Stats

block content
	main#main
		header
			h2 CTF S2 Player Stats

		section.stats-card-wrapper

			.stats-card
				header
					h3 Win Rate

				table
					tbody
						each n, key in winratio
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-r= n.win_ratio

				footer
					a(href="/stats/wins") View full list
						span.icon


			.stats-card
				header
					h3 Best Cap Difference

				table
					tbody
						each n, key in capdiff
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-r= n.cap_every

				footer
					a(href="table.html") View full list
						span.icon

			.stats-card
				header
					h3 Caps

				table
					tbody
						each n, key in cap
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-r= n.cap_every

				footer
					a(href="/stats/general?games=50&elo=1500") View full list
						span.icon

			.stats-card
				header
					h3 Pup Control

				table
					tbody
						each n, key in pupcontrol
							tr(class=(n.rank === '1' ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-r= n.per_game

				footer
					a(href="table.html") View full list
						span.icon
