extends layouts/_layout.pug

block title
	title Tagpro TPM Stats

block content
	main#main
		header
			h2 CTF S2 Player Stats

		section.stats-card-wrapper

			.stats-card
				header
					h3 Wins

				table
					thead
						tr
							th
							th.text-c G
							th.text-c W
							th.text-c L
							th.text-c Win Rate
					tbody
						each n, key in winratio
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-c= n.game
								td.text-c= n.win
								td.text-c= n.lose
								td.text-c= n.win_ratio

				footer
					a(href="/results") View full list
						span.icon


			.stats-card
				header
					h3 Cap Difference

				table
					thead
						tr
							th
							th.text-c -
							th.text-c +
							th.text-c -/+
							th.text-c Every
					tbody
						each n, key in capdiff
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-c= n.cap_against
								td.text-c= n.cap_for
								td.text-c= n.cap_diff
								td.text-c= n.cap_every

				footer
					a(href="table.html") View full list
						span.icon

			.stats-card
				header
					h3 Pup Control

				table
					thead
						tr
							th
							th.text-c My Share
							th.text-c +/-
							th.text-c Pups
							th.text-c Per Game
					tbody
						each n, key in pupcontrol
							tr(class=(n.rank === '1' ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-c= n.my_share
								td.text-c= n.plusminus
								td.text-c= n.pups
								td.text-c= n.per_game

				footer
					a(href="table.html") View full list
						span.icon
