extends layouts/_layout.pug

block nav-current
	- var tab = 'leaderboards'

block title
	title Tagpro TPM Stats

block content
	main#main
		header
			h2 CTF All-Time Leaderboards

		section.stats-card-wrapper

			.stats-card
				header
					h3 Win Rate

				table
					tbody
						each n, key in winratio
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-r= n.win_ratio

				footer
					a(href="/stats/wins") View full list
						span.icon

			.stats-card
				header
					h3 Pup Every

				table
					tbody
						each n, key in pup
							tr(class=(n.rank === '1' ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-r= n.pup_every

				footer
					a(href="/stats/pups") View full list
						span.icon

			.stats-card
				header
					h3 Team Cap Every

				table
					tbody
						each n, key in teamcap
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-r= n.cap_every

				footer
					a(href="/stats/prevent") View full list
						span.icon

			.stats-card
				header
					h3 Team Concede Every

				table
					tbody
						each n, key in teamcapagainst
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-r= n.cap_every

				footer
					a(href="/stats/prevent") View full list
						span.icon

			.stats-card
				header
					h3 Cap Every

				table
					tbody
						each n, key in cap
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-r= n.cap_every

				footer
					a(href="/stats/caps") View full list
						span.icon

			.stats-card
				header
					h3 Hold Per Min

				table
					tbody
						each n, key in hold
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-r= n.per_min

				footer
					a(href="/stats/hold") View full list
						span.icon

			.stats-card
				header
					h3 Return Every

				table
					tbody
						each n, key in returns
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-r= n.return_every

				footer
					a(href="/stats/returns") View full list
						span.icon

			.stats-card
				header
					h3 Prevent Per Min

				table
					tbody
						each n, key in prevent
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-r= n.per_min

				footer
					a(href="/stats/prevent") View full list
						span.icon

			.stats-card
				header
					h3 Tag Every

				table
					tbody
						each n, key in tag
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-r= n.tag_every

				footer
					a(href="/stats/tags") View full list
						span.icon

			.stats-card
				header
					h3 Pop Every

				table
					tbody
						each n, key in pop
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									| #{n.player}
								td.text-r= n.pop_every

				footer
					a(href="/stats/pop") View full list
						span.icon
