extends layouts/_layout.pug

block title
	title= title

block content
	main#main
		header
			h2= title

		.tabs
			a(href="/" class=(season === false ? 'active' : '')) All-Time
			a(href="/?season=3" class=(season === '3' ? 'active' : '')) Season 3
			a(href="/?season=2" class=(season === '2' ? 'active' : '')) Season 2
			a(href="/?season=1" class=(season === '1' ? 'active' : '')) Season 1

		section.stats-card-wrapper

			.stats-card
				header
					h3 Win Rate

				table
					tbody
						each n, key in winratio
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									a(
										href= '/player/' + n.player
									)= n.player
								td.text-r= n.win_ratio

			.stats-card
				header
					h3 Cap Diff Per Min

				table
					tbody
						each n, key in capdiffpermin
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									a(
										href= '/player/' + n.player
									)= n.player
								td.text-r= n.cap

			.stats-card
				header
					h3 Team Cap Every

				table
					tbody
						each n, key in teamcap
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									a(
										href= '/player/' + n.player
									)= n.player
								td.text-r= n.cap_every

			.stats-card
				header
					h3 Team Concede Every

				table
					tbody
						each n, key in teamcapagainst
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									a(
										href= '/player/' + n.player
									)= n.player
								td.text-r= n.cap_every

			.stats-card
				header
					h3 Pup Every

				table
					tbody
						each n, key in pup
							tr(class=(n.rank === '1' ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									a(
										href= '/player/' + n.player
									)= n.player
								td.text-r= n.pup_every

			.stats-card
				header
					h3 Cap Every

				table
					tbody
						each n, key in cap
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									a(
										href= '/player/' + n.player
									)= n.player
								td.text-r= n.cap_every

			.stats-card
				header
					h3 Hold Per Min

				table
					tbody
						each n, key in hold
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									a(
										href= '/player/' + n.player
									)= n.player
								td.text-r= n.per_min

			.stats-card
				header
					h3 Grab Every

				table
					tbody
						each n, key in grab
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									a(
										href= '/player/' + n.player
									)= n.player
								td.text-r= n.grab_every

			.stats-card
				header
					h3 Flag In Base

				table
					tbody
						each n, key in flaginbase
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									a(
										href= '/player/' + n.player
									)= n.player
								td.text-r= n.flag_in_base

			.stats-card
				header
					h3 Prevent Per Min

				table
					tbody
						each n, key in prevent
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									a(
										href= '/player/' + n.player
									)= n.player
								td.text-r= n.per_min

			.stats-card
				header
					h3 Return Every

				table
					tbody
						each n, key in returns
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									a(
										href= '/player/' + n.player
									)= n.player
								td.text-r= n.return_every

			.stats-card
				header
					h3 Tag Every

				table
					tbody
						each n, key in tag
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									a(
										href= '/player/' + n.player
									)= n.player
								td.text-r= n.tag_every


			.stats-card
				header
					h3 Pop Every

				table
					tbody
						each n, key in pop
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									a(
										href= '/player/' + n.player
									)= n.player
								td.text-r= n.pop_every

			.stats-card
				header
					h3 Grabs Per Flaccid

				table
					tbody
						each n, key in grabsperflaccid
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									a(
										href= '/player/' + n.player
									)= n.player
								td.text-r= n.grabs_per_flaccid

			.stats-card
				header
					h3 Kill Death

				table
					tbody
						each n, key in killdeath
							tr(class=(key === 0 ? 'top' : ''))
								td.rank
									span.pos #{n.rank}.
									a(
										href= '/player/' + n.player
									)= n.player
								td.text-r= n.killdeath

				// footer
				// 	a(href="/stats/defending") View full list
				// 		span.icon
