extends layouts/_layout.pug

block title
	title Logs - Tagpro.dev


block content
	main#main
		header
			h2 #{title}

		section
			table
				thead
					tr
						th EUID
						th Date
						th.text-c Average ELO
						th.text-c Duration
						th.text-c Season

				tbody
					each n, key in games
						- var href= 'https://tagpro.eu/?match=' + n.euid
						tr
							td
								a(href=`${href}`)= n.euid

							td= n.date
							td.text-c= n.elo
							td.text-c= n.duration
							td.text-c= n.season
