extends layouts/_layout.pug

block title
	title Logs - Tagpro.dev

block content
	main#main
		header
			h2 #{title}

		section
			table
				thead
					tr
						th EUID
						th Date
						th.text-c ELO
						th.text-c Duration
						th.text-r Red
						th.text-c
						th.text-c
						th.text-c
						th.text-l Blue

				tbody
					each n, key in games
						- var href= 'https://tagpro.eu/?match=' + n.euid
						tr
							td
								a(href=`${href}`)= n.euid

							td= n.date
							td.text-c= n.elo
							td.text-c= n.duration
							td.text-r= n.red_team
							td.text-c= n.red_caps
							td.text-c :
							td.text-c= n.blue_caps
							td.text-l= n.blue_team
