include template/head.pug
include template/player-nav.pug

.contain
	.wrap

		.nav-bar-tertiary
			a(href=config.path + "/matches" class=(config.nav.sub === 'ctf' ? 'active' : '')) CTF
			a(href=config.path + "/matches/nf" class=(config.nav.sub === 'nf' ? 'active' : '')) NF

		.player-stats
			.row.head
				each n, key in matches
					each v, k in n

						if(k === 'color')
						else if(k === 'euid')
							- continue

						else if(k === 'result')
							.item.result

						else if(k === 'acronym')
							.item.acronym

						else if(k === 'versus')
							.item.acronym.versus(
								data-column="versus"
							) Versus

						else
							.item(
								data-column= k
							)= k

					- break

			each n, key in matches
				.row.entry(
						style="--teamcolor: " + n.color + "; --teamglow: " + n.color + "80; --teambg: " + n.color + "30"
					)
					each v, k in n
						if(k === 'euid')
						else if(k === 'color')
							- continue

						else if(k === 'result')
							.item.result
								a(
									href='https://tagpro.eu/?match=' + n.euid
									class= n.result
								)= n.result

						else if(k === 'acronym')
							.item.acronym= n.acronym

						else if(k === 'versus')
							.item.acronym.versus(
								style="--teamcolor: " + n.versus.color+ "; --teamglow: " + n.versus.color + "80; --teambg: " + n.versus.color + "30"
								data-column="versus"
							)= n.versus.acronym

						else
							.item(
								data-column= k
							)= v

include template/foot.pug
