include template/head.pug
include template/player-nav.pug

.contain
	.wrap
		.player-overview
			.info
				.block.seasons
					.k Seasons
					.v
						span= seasons

				.block.games
					.k Games
					.v
						span= games

				.block.winrate
					.k Winrate
					.v
						span= winratio

				.block.openskill
					.k Open Skill
					.v
						span= openskill

				.block.cost
					.k Avg Cost
					.v
						span= cost

		.stats.leaders
			if topseasons
				.stat
					h3 Top Seasons
					each n, key in topseasons
						.row
							.item.rank= n.rank
							.item.team(
								style="--teamcolor: " + n.color + "; --teamglow: " + n.color + "80"
							)= n.acronym
							.item.player
								a(
									href= '/' + n.mode + (n.tier ? '-' + n.tier.toLowerCase() : '') + '/' + n.number
								)= n.mode + ' ' + n.number + (n.tier ? ' ' + n.tier.toLowerCase() : '')
							.item.value= n.winrate

			if topmaps
				.stat
					h3 Top Maps
					each n, key in topmaps
						.row(class=(key === 0 ? 'top' : ''))
							.item.rank= n.rank
							.item.name
								a(
									href="https://fortunatemaps.herokuapp.com/map/" + n.unfortunateid
								)= n.map
							.item.value= n.winrate

			if topteammates
				.stat
					h3 Top Teammates
					each n, key in topteammates
						.row(class=(key === 0 ? 'top' : ''))
							.item.rank= n.rank
							.item.name
								a(
									href= '/player/' + n.player
								)= n.player

							.item.value= n.winrate

				.stat
					h3 Trophy Cabinet
					if trophies
						each n, key in trophies
							.row
								.item.rank= n.rank
								.item.name
									a(
										href= '/player/' + n.player
									)= n.player

								.item.value= n.winrate

include template/foot.pug
