extends layouts/_layout.pug

block title
	title= title

block content
	| <script src="https://d3js.org/d3.v3.min.js"></script>

	main#main
		header
			h2= title

		.tabs
			.left
				a(
					href= '/player/' + user
					class=(navtab == 'summary' ? 'active' : '')
				) Summary
				a(
					href= '/player/' + user + '/allies'
					class=(navtab === 'allies' ? 'active' : '')
				) Allies
				a(
					href= '/player/' + user + '/opponents'
					class=(navtab === 'opponents' ? 'active' : '')
				) Opponents
				a(
					href= '/player/' + user + '/maps'
					class=(navtab === 'maps' ? 'active' : '')
				) Maps
				a(
					href= '/player/' + user + '/breakdown'
					class=(navtab === 'breakdown' ? 'active' : '')
				) Breakdown


		script.
			const radar  = !{JSON.stringify(value)}

		.radar
