include template/head.pug
include template/player-nav.pug

| <script src="https://d3js.org/d3.v3.min.js"></script>

.contain.playerseasons
	.wrap

		script.
			const seasons = !{JSON.stringify(seasons)}

		each n, key in seasons
			.season(data-seasonid= n.seasonid)
				.main
					h1= n.seasonname
					if n.team
						.acronym(
							style="--teamcolor: " + n.team.color + "; --teamglow: " + n.team.color + "80"
						)= n.team.acronym
						.team= n.team.name

				.block_left
					ul.stats
						li
							.lab MVB
							.pos= n.radar.mvb

						li
							.lab Capping
							.pos= n.radar.cap

						li
							.lab Holding
							.pos= n.radar.hold

						if n.gamemode == 'nf'
							li
								.lab Grabs
								.pos= n.radar.grab

						li
							.lab Assists
							.pos= n.radar.assist

						li
							.lab Preventing
							.pos= n.radar.prevent

						if n.gamemode == 'ctf'
							li
								.lab Returning
								.pos= n.radar.return

							li
								.lab Tagging
								.pos= n.radar.tag

						if n.gamemode == 'nf'
							li
								.lab Takeovers
								.pos= n.radar.takeover

						li
							.lab Pups
							.pos= n.radar.pup

				.block_right
					.radar
