extends layouts/_layout.pug

block title
	title= title

block content
	| <script src="https://d3js.org/d3.v3.min.js"></script>

	main#main
		header
			h2= title

		.tabs
			.left
				a(
					href= '/player/' + user
					class=(navtab == 'summary' ? 'active' : '')
				) Summary
				a(
					href= '/player/' + user + '/allies'
					class=(navtab === 'allies' ? 'active' : '')
				) Allies
				a(
					href= '/player/' + user + '/opponents'
					class=(navtab === 'opponents' ? 'active' : '')
				) Opponents
				a(
					href= '/player/' + user + '/maps'
					class=(navtab === 'maps' ? 'active' : '')
				) Maps

		section.stats-card-wrapper.stars

			.stats-card
				header
					h3 Godly Maps

				table
					tbody
						each n, key in maps
							tr
								td.map= n.map
								td.text-r
									if(n.winrate <= 52.5)
										include ../src/svg/star-half.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 55)
										include ../src/svg/star.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 57.5)
										include ../src/svg/star.svg
										include ../src/svg/star-half.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 60)
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 62.5)
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star-half.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 65)
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 67.5)
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star-half.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 70)
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 72.5)
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star-half.svg
									else
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg






			.stats-card
				header
					h3 Godly Teammates

				table
					tbody
						each n, key in godteam
							tr
								td.map
									a(
										href= '/player/' + n.player
									)= n.player

								td.text-r
									if(n.winrate <= 52.5)
										include ../src/svg/star-half.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 55)
										include ../src/svg/star.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 57.5)
										include ../src/svg/star.svg
										include ../src/svg/star-half.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 60)
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 62.5)
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star-half.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 65)
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 67.5)
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star-half.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 70)
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate <= 72.5)
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star-half.svg
									else
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg
										include ../src/svg/star.svg

			.stats-card
				header
					h3 Shit Teammates

				table
					tbody
						each n, key in shitteam
							tr
								td.map
									a(
										href= '/player/' + n.player
									)= n.player

								td.text-r
									if(n.winrate >= 47.5)
										include ../src/svg/shit-half.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate >= 45)
										include ../src/svg/shit.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate >= 42.5)
										include ../src/svg/shit.svg
										include ../src/svg/shit-half.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate >= 40)
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate >= 37.5)
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg
										include ../src/svg/shit-half.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate >= 35)
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg
										include ../src/svg/star-blank.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate >= 32.5)
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg
										include ../src/svg/shit-half.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate >= 30)
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg
										include ../src/svg/star-blank.svg
									else if(n.winrate >= 27.5)
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg
										include ../src/svg/shit-half.svg
									else
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg
										include ../src/svg/shit.svg


		.radar
			ul
				// li.elo= radar.elo
				// li.elo= rank.mmr
				// li.cap= radar.cap
				// li.prevent= radar.prevent
				// li.hold= radar.hold
				// li.grab= radar.grab
				// li.pop= radar.pop
				// li.return= radar.return
				// li.drop= radar.drop
