extends layouts/_layout.pug

block title
	title= title

block content
	main#main
		header
			h2= title

		.tabs
			.left
				a(href="/records" class=(season === false ? 'active' : '')) All-Time
				a(href="/records?season=2" class=(season === '2' ? 'active' : '')) Season 2
				a(href="/records?season=1" class=(season === '1' ? 'active' : '')) Season 1
			.right
				a(href="/records" class=(elo === false ? 'active' : '')) High ELO
				a(href="/records?elo=low" class=(elo === 'low' ? 'active' : '')) Low ELO

		section.stats-card-wrapper.stats-records


			.stats-card
				header
					h3 Caps

				table
					thead
						tr
							th.text-l
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mostcaps
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.cap


			.stats-card
				header
					h3 Hold

				table
					thead
						tr
							th.text-l
							th.text-l
							th.text-l
							th.text-c Per Min

					tbody
						each n, key in mosthold
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.hold



			.stats-card
				header
					h3 Grabs

				table
					thead
						tr
							th.text-l
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mostgrabs
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.grab

			.stats-card
				header
					h3 Tags

				table
					thead
						tr
							th.text-c
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mosttags
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.tag

			.stats-card
				header
					h3 Prevent

				table
					thead
						tr
							th.text-l
							th.text-l
							th.text-l
							th.text-c Per Min

					tbody
						each n, key in mostprevent
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.prevent

			.stats-card
				header
					h3 Returns

				table
					thead
						tr
							th.text-c
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mostreturns
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.returns

			.stats-card
				header
					h3 Quick Returns

				table
					thead
						tr
							th.text-c
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mostquickreturns
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.quickreturns

			.stats-card
				header
					h3 Key Returns

				table
					thead
						tr
							th.text-c
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mostkeyreturns
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.keyreturns






			.stats-card
				header
					h3 Powerups

				table
					thead
						tr
							th.text-l
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mostpups
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.pup

			.stats-card
				header
					h3 Tagpros

				table
					thead
						tr
							th.text-l
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mosttagpros
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.pup

			.stats-card
				header
					h3 Win Streak

				table
					thead
						tr
							th.text-l
							th.text-l
							th.text-c(style="width:80px") Streak

					tbody
						each n, key in winstreak
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-c= n.streak
