extends layouts/_layout.pug

block content
	main#main
		header
			h2 All-Time Records - Most Per Game

		section.stats-card-wrapper.stats-records

			.stats-card
				header
					h3 Most Caps

				table
					thead
						tr
							th.text-l
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mostcaps
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.cap

			.stats-card
				header
					h3 Most Powerups

				table
					thead
						tr
							th.text-l
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mostpups
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.pup

			.stats-card
				header
					h3 Most Tagpros

				table
					thead
						tr
							th.text-l
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mosttagpros
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.pup

			.stats-card
				header
					h3 Most Hold

				table
					thead
						tr
							th.text-l
							th.text-l
							th.text-l
							th.text-c Per Min

					tbody
						each n, key in mosthold
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.hold



			.stats-card
				header
					h3 Most Grabs

				table
					thead
						tr
							th.text-l
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mostgrabs
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.grab

			.stats-card
				header
					h3 Most Prevent

				table
					thead
						tr
							th.text-l
							th.text-l
							th.text-l
							th.text-c Per Min

					tbody
						each n, key in mostprevent
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.prevent

			.stats-card
				header
					h3 Most Returns

				table
					thead
						tr
							th.text-c
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mostreturns
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.returns

			.stats-card
				header
					h3 Most Quick Returns

				table
					thead
						tr
							th.text-c
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mostquickreturns
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.quickreturns

			.stats-card
				header
					h3 Most Key Returns

				table
					thead
						tr
							th.text-c
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mostkeyreturns
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.keyreturns



			.stats-card
				header
					h3 Most Tags

				table
					thead
						tr
							th.text-c
							th.text-l
							th.text-l
							th.text-c Every

					tbody
						each n, key in mosttags
							tr
								td.text-l.pos= n.rank
								td.text-l.name= n.player
								td.text-l.date
									a(
										href= 'https://tagpro.eu/?match=' + n.euid
									)= n.date
								td.text-c= n.tag
