doctype html
html
	head
		title TPM EU Stats
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
		link(rel='stylesheet', href='/init.css')

body

	.pane-wrap

		.pane.pane-right

			.filters
				p ELO Bracket
				p Min Games
				p Per Map
				p Per Season
				p Per Server

			.item.large
				h5 TPM CTF S2 Results
				table
					thead
						tr
							td
							td.name Player
							td Last Seen
							td Quickest Game
							td Longest Game
							td Avg Game
							td Losses
							td Wins
							td Win Ratio
							td Games

					tbody
						each n, key in results
							tr
								td= n.rank
								td.name= n.player
								td
									a(href=`https://tagpro.eu?match=${n.last_seen_euid}`)= n.last_seen_euid
								td= n.min_game_length
								td= n.max_game_length
								td= n.average_game_length
								td= n.lose
								td= n.win
								td= n.win_ratio
								td= n.game

	include foot.pug
