extends layouts/_layout.pug

block title
	title #{title} - Tagpro.dev

block content
	main#main
		header

			.sub-nav.stat-nav-overlay
				nav
					header
						h2.title General
						ul
							li
								a(href="/stats/wins") Wins
							li
								a(href="/stats/summary-per-minute") Summary Per Minute
							// li
							// 	a(href="/stats/summary-total") Totals
							// li
							// 	a(href="/stats/pups") Pups
							li
								a(href="/stats/mercies") Mercies

				nav
					header
						h2.title Attacking
						ul
							li
								a(href="/stats/caps") Caps
							li
								a(href="/stats/hold") Hold
							li
								a(href="/stats/flaccids") Flaccids


				nav
					header
						h2.title Defence
						ul
							li
								a(href="/stats/prevent") Prevent
							li
								a(href="/stats/returns") Returns
							li
								a(href="/stats/key-returns") Key Returns
							li
								a(href="/stats/quick-returns") Quick Returns
							li
								a(href="/stats/tags") Tags
							li
								a(href="/stats/team-cap-from-my-prevent") Team Cap From My Prevent


			h2.stat-nav #{title}

		.page-filter
			.drop-down
				.drop-down_label Filter by Season
				.drop-down_current(role="button") 2020/21
					.drop-down_list(style="display: block")
						ul
							li(role="option" class="filter-all")
								.form_checkbox-wrapper
									input(type="checkbox", name="checka", id="checka" checked)
									label(for="checka") All Seasons
							li(role="option")
								.form_checkbox-wrapper
									input(type="checkbox", name="checkb", id="checkb" )
									label(for="checkb") CTF Season 2
							li(role="option")
								.form_checkbox-wrapper
									input(type="checkbox", name="checkc", id="checkc")
									label(for="checkc") CTF Season 1


			.drop-down
				.drop-down_label Filter by Team
				.drop-down_current(role="button") All Teams
					.drop-down_list(style="display: none")
						ul
							li(role="option") All Teams
							li(role="option") Team A
							li(role="option") Team B
							li(role="option") 2018/19
			.drop-down
				.drop-down_label Filter by Range
				.drop-down_current(role="button") Select
					.drop-down_list(style="display: block; width:130%" class="pad")
						#slider.slider

						footer
							button.button-secondary Apply


			.filter-button_reset
				span.filter-button_reset-text
					i
					| Reset Filters


		section
			table.table-sticky
				thead
					each raw in results
						- function th(string){ return string.replace(/(?:_| |\b)(\w)/g, function($1){return $1.toUpperCase().replace('_',' ');});}

						tr
							- let n = 0
							- let last = Object.keys(raw).length
							each v, k in raw
								-- ++n
								if(k === 'rank')
									th(style="width:70px")
								else if(k === 'player')
									th Player
								else
									if(last === n)
										th.text-c.sort.sort-desc
											span= th(k)
									else
										th.text-c.sort
											span= th(k)
							- break

				tbody
					each raw in results
						tr
							each v, k in raw
								if(k === 'rank' || k === 'player')
									td.bold= v
								else
									td.text-c= v
