extends layouts/_layout.pug

block title
	title #{title} - Tagpro.dev

block content
	main#main
		header
			h2 #{title}

		.page-filter
			.drop-down.season
				.drop-down_label Filter by Season
				.drop-down_current(role="button") All
				ul.drop-down_list
					li(role="option") All
					li(role="option") CTF EU S2
					li(role="option") CTF EU S1

			.drop-down.elo
				.drop-down_label Filter by ELO Bracket
				.drop-down_current(role="button") 2000+
				ul.drop-down_list
					li(role="option") All
					li(role="option") 2000+
					li(role="option") 1900+
					li(role="option") 1800+

			.drop-down.map
				.drop-down_label Filter by Map
				.drop-down_current(role="button") All
				ul.drop-down_list
					li(role="option") all
					li(role="option") 2000+
					li(role="option") 1900+
					li(role="option") 1800+

			.drop-down.played
				.drop-down_label Filter by Games Played
				.drop-down_current(role="button") 50
				ul.drop-down_list
					li(role="option") all
					li(role="option") 2000+
					li(role="option") 1900+
					li(role="option") 1800+

			.filter-button_reset.reset
				span.filter-button_reset-text
					i
					| Reset Filters

		section
			table.table-sticky
				thead
					each raw in results
						- function th(string){ return string.replace(/(?:_| |\b)(\w)/g, function($1){return $1.toUpperCase().replace('_',' ');});}

						tr
							- let n = 0
							- let last = Object.keys(raw).length
							each v, k in raw
								-- ++n
								if(k === 'rank')
									th(style="width:70px")
								else if(k === 'player')
									th Player
								else
									if(last === n)
										th.text-c.sort.sort-desc
											span= th(k)
									else
										th.text-c.sort
											span= th(k)
							- break

				tbody
					each raw in results
						tr
							each v, k in raw
								if(k === 'rank' || k === 'player')
									td.bold= v
								else
									td.text-c= v
