doctype html
html
	head
		title TPM EU Stats
		meta(charset='utf-8')
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, user-scalable=0')
		link(rel='stylesheet', href='/init.css')
		// link(rel='icon', href='/favicon.svg')

body

	.pane-wrap
		.pane.pane-right


			.item
				h5 Cap Difference
				table
					thead
						tr
							td
							td.name Player
							td -
							td +
							td +/-
							td Per Game

					tbody
						each n, key in capdiff
							tr
								td= n.rank
								td.name= n.player
								td= n.cap_against
								td= n.cap_for
								td= n.cap_diff
								td= n.per_game

			.item
				h5 Scoring
				table
					thead
						tr
							td
							td.name Player
							td Assists
							td Caps
							td Combined
							td Per Game

					tbody
						each n, key in scoring
							tr
								td= n.rank
								td.name= n.player
								td= n.assist
								td= n.cap
								td= n.combined
								td= n.per_game


			.item
				h5 Pup Control
				table
					thead
						tr
							td
							td.name Player
							td My Share
							td +/-
							td Pups
							td Per Game

					tbody
						each n, key in pupcontrol
							tr
								td= n.rank
								td.name= n.player
								td= n.my_share
								td= n.plusminus
								td= n.pups
								td= n.per_game

			.item
				h5 Tagpros
				table
					thead
						tr
							td
							td.name Player
							td My Share
							td +/-
							td Won
							td Per Game

					tbody
						each n, key in tagpro
							tr
								td= n.rank
								td.name= n.player
								td= n.my_share
								td= n.plusminus
								td= n.pups
								td= n.per_game




			.item
				h5 Clean Sheets
				table
					thead
						tr
							td
							td.name Player
							td Mercies
							td Cleansheet

					tbody
						each n, key in cleansheet
							tr
								td= n.rank
								td.name= n.player
								td= n.mercy
								td= n.cleansheet


			.item
				h5 Flag In Base
				table
					thead
						tr
							td
							td.name Player
							td Possession
							td Total
							td Per Min

					tbody
						each n, key in flaginbase
							tr
								td= n.rank
								td.name= n.player
								td= n.possession
								td= n.total
								td= n.per_min





















	|<script id="__bs_script__">//<![CDATA[
	|	document.write("<script async src='https://tagpro.dev:8000/browser-sync/browser-sync-client.js?v=2.26.14'><\/script>".replace("HOST", location.hostname));
	| 	//]]></script>
