include template/head.pug
include template/superleague-nav.pug

.contain
	.wrap
		.nav-bar-tertiary
			a(href="/superleague/stats" class=(nav.tertiary === 'totals' ? 'active' : '')) Totals
			- i = 0
			each n, key in rounds
				- i++
				a(
					href="/superleague/stats/" + i
					class= (nav.tertiary == i ? 'active' : '')
				) Round #{i}

		.player-stats

			.row.head
				each n, key in stats
					each v, k in n
						if(k === 'color')
							- continue

						else if(k === 'player')
							.item.player

						else if(k === 'acronym')
							.item.acronym

						else
							.item= k
					- break

			each n, key in stats
				.row.entry
					each v, k in n
						if(k === 'color')
							- continue

						else if(k === 'player')
							.item.player
								a(
									href='#'
								)= n.player

						else if(k === 'acronym')
							.item.acronym(
								style="--teamcolor: " + n.color + "; --teamglow: " + n.color + "80"
							)= n.acronym

						else
							.item= v

include template/foot.pug
