include template/head.pug
include template/superleague-nav.pug

.contain
	.wrap

		.nav-bar-tertiary
			a(href=config.path + "/leaders" class=(config.nav.sub === 'totals' ? 'active' : '')) Totals
			a(href=config.path + "/leaders/averages" class=(config.nav.sub === 'averages' ? 'active' : '')) Averages
			a(href=config.path + "/leaders/teampercent" class=(config.nav.sub === 'teampercent' ? 'active' : '')) Team %
			a(href=config.path + "/leaders/gamepercent" class=(config.nav.sub === 'gamepercent' ? 'active' : '')) Game %
			a(href=config.path + "/leaders/top" class=(config.nav.sub === 'top' ? 'active' : '')) Game Tops
			a(href=config.path + "/leaders/versus" class=(config.nav.sub === 'versus' ? 'active' : '')) Versus

		.stats.leaders

			each raw in leaders
				if raw.data
					.stat
						h3= raw.title

						each n, key in raw.data
							.row(class=(key === 0 ? 'top' : ''))
								.item.rank= n.rank
								.item.team(
									data-position= i
									style="--teamcolor: " + n.color + "; --teamglow: " + n.color + "80"
								)= n.acronym
								.item.player
									a(
										href= '/player/' + n.player
									)= n.player

								.item.value= n.value

								if n.versus
									.item.versus(
										style="--teamcolor: " + n.versuscolor + "; --teamglow: " + n.versuscolor + "80"
									)= n.versus

include template/foot.pug
