include template/head.pug
include template/superleague-nav.pug

.contain
	.wrap
		.overview

			.bar
				.block.teams
					.k Teams
					.v
						span= teams

				.block.players
					.k Players
					.v
						span= players

				.block.dates
					.k Date
					.v
						span= date.start
						em -
						span= date.end

			.best
				.stat
					h3 MVB

					each n, key in mvb
						.row(class=(key === 0 ? 'top' : ''))
							.item.rank= n.rank
							.item.team(
								data-position= i
								style="--teamcolor: " + n.color + "; --teamglow: " + n.color + "80"
							)= n.acronym
							.item.player
								// href= '/player/' + n.player
								a(
									href='#'
								)= n.player

							.item.value= n.value



			.finals
				p asda

include template/foot.pug
