include template/head.pug
include template/superleague-nav.pug

.contain
	.wrap
		.nav-bar-tertiary
			a(href=config.path + "/stats" class=(config.nav.sub === 'totals' ? 'active' : '')) Totals
			- i = 0
			each n, key in rounds
				- i++
				a(
					href=config.path + "/stats/" + i
					class= (config.nav.sub == i ? 'active' : '')
				) Round #{i}

		.player-stats
			.row.head
				each n, key in stats
					each v, k in n
						if(k === 'color')
							- continue

						else if(k === 'player')
							.item.player

						else if(k === 'acronym')
							.item.acronym

						else
							.item(
								data-column= k
							)= k

					- break

			each n, key in stats
				.row.entry(
						style="--teamcolor: " + n.color + "; --teamglow: " + n.color + "80; --teambg: " + n.color + "30"
					)
					each v, k in n
						if(k === 'color')
							- continue

						else if(k === 'player')
							.item.player
								a(
									href='#'
								)= n.player

						else if(k === 'acronym')
							.item.acronym= n.acronym

						else
							.item(
								data-column= k
							)= v

include template/foot.pug
