include template/head.pug
include template/superleague-nav.pug

.contain
	.wrap

		.teams
			each n, key in teams
				.team(
					style="--teamcolor: " + n.color + "; --teamglow: " + n.color + "80"
				)
					.logo
						img(
							src= n.logo
						)
					.info
						h3.acronym= n.acronym
						h2.teamname= n.name
						ul.players
							each p, pkey in n.players
								li
									.name= p.name
									.country
										img(
											src="https://cdnjs.cloudflare.com/ajax/libs/flag-icon-css/4.1.5/flags/4x3/" + p.country + ".svg"
										)

include template/foot.pug
