.nav-bar-secondary
	.wrap
		.breadcrumb
			// a(href="#") Neutral Flag
			// .crumb ›
			// a(href= config.path) Season #{config.season}
			// .crumb ›
			.current Season #{config.season}

		h1 NF Super League

		.nav-bar
			a(href= config.path	class=(config.nav.page === 'overview' ? 'active' : '')
			) Overview
			a(href=config.path + "/teams" class=(config.nav.page === 'teams' ? 'active' : '')) Teams
			a(href=config.path + "/matches" class=(config.nav.page === 'matches' ? 'active' : '')) Matches
			a(href=config.path + "/league" class=(config.nav.page === 'league' ? 'active' : '')) League
			a(href=config.path + "/stats" class=(config.nav.page === 'stats' ? 'active' : '')) Stats
			a(href=config.path + "/leaders" class=(config.nav.page === 'leaders' ? 'active' : '')) Leaders
			a(href=config.path + "/records" class=(config.nav.page === 'records' ? 'active' : '')) Records
